/* style.css */


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
    max-width: 1200px; /* Largeur maximale de la galerie */
    margin: 0 auto; /* Pour centrer la galerie horizontalement */
    flex-direction: row; /* Direction par défaut - lignes */

}


@media (max-width: 1200px) {
    .gallery {
        flex-direction: column; /* Changement de direction en colonne */
        align-items: center; /* Alignement vertical au centre */
    }
}



.item {
    width: calc(33.33% - 20px);
    margin: 10px;
}

.item img {
    width: 350px;
    height: 350px;
    border-radius: 20px; /* Correction */
}


.item h2 {
    margin: 5px 0;
    color: black;
    font-weight: bold;
}

.item p {
    margin: 5px 0;
    color: black;
}

header, footer {
    background-color: blue;
    color: white;
    padding: 10px;
}

header nav ul, footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li, footer nav ul li {
    margin: 0;
}

header nav ul li a, footer nav ul li a {
    color: white;
    text-decoration: none;
}

/* style.css */

footer nav ul li button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer nav ul li button:hover {
    background-color: darkblue;
}

footer nav ul li button:focus {
    outline: none;
}

footer nav ul li button:active {
    transform: translateY(2px);
}
